---
layout: default
---

<div class="home">

  <h1 class="page-heading">Categories</h1>
    {% assign my_categories = "bioinformatique|génétique|informatique|linux|post|statistics" | split: "|" %}
    {% for category in my_categories %}
      <h2>{{ category }}</h2>
      <ul>
      {% for post in site.posts %}
          {% if post.categories contains category %}
          <li>
              <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <span class="post-meta">{{ post.date | date: "(%b %-d, %Y)" }}</span>
          </li>
          {% endif %}
      {% endfor %}
      </ul>
    {% endfor %}

  <hr>
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
